# IDE settings
/.idea

# Virtual environment
/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


*.avi
*.csv
*.pdf
*.png
/suggestions
/experiments/results*
/test.py
/images/
